@model Riode.Template.WebUI.Models.Entity.Color

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="HexCode" class="label-required"></label>
        <input asp-for="HexCode" class="form-control" />
        <span asp-validation-for="HexCode"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="label-required"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <a asp-action="Index" class="btn btn-danger">Geriyə</a>
    <button class="btn btn-info" type="submit">Əlavə et</button>
</form>

@section scripts{
    <script src="libraries/jquery-validate/jquery.validate.min.js"></script>
    <script src="libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" k></script>
}

