<nav class="main-nav ml-0">
    <ul class="menu">
        <li class="active">
            <a asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Categories">Categories</a>
            <div class="megamenu">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4">
                        <h4 class="menu-title">Variations 1</h4>
                        <ul>
                            <li><a asp-action="BannerWithSidebar" asp-controller="Categories">Banner With Sidebar</a></li>
                            <li><a asp-action="BoxedBanner" asp-controller="Categories">Boxed Banner</a></li>
                            <li><a asp-action="InfiniteAJAXScroll" asp-controller="Categories">Infinite Ajaxscroll</a></li>
                            <li>
                                <a asp-action="HorizontalFilter" asp-controller="Categories">Horizontal Filter</a>
                            </li>
                            <li>
                                <a asp-action="NavigationFilter" asp-controller="Categories">
                                    Navigation Filter<span class="tip tip-hot">Hot</span>
                                </a>
                            </li>

                            <li><a asp-action="OffCanvasFilter" asp-controller="Categories">Off-Canvas Filter</a></li>
                            <li><a asp-action="RightToggleSidebar" asp-controller="Categories">Right Toggle Sidebar</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4">
                        <h4 class="menu-title">Variations 2</h4>
                        <ul>

                            <li>
                                <a asp-action="ThreeColumnsMode" asp-controller="Categories">
                                    3 Columns Mode<span class="tip tip-new">New</span>
                                </a>
                            </li>
                            <li><a asp-action="FourColumnsMode" asp-controller="Categories">4 Columns Mode</a></li>
                            <li><a asp-action="FiveColumnsMode" asp-controller="Categories">5 Columns Mode</a></li>
                            <li><a asp-action="SixColumnsMode" asp-controller="Categories">6 Columns Mode</a></li>
                            <li><a asp-action="SevenColumnsMode" asp-controller="Categories">7 Columns Mode</a></li>
                            <li><a asp-action="EightColumnsMode" asp-controller="Categories">8 Columns Mode</a></li>
                            <li><a asp-action="ListMode" asp-controller="Categories">List Mode</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 menu-banner menu-banner1 banner banner-fixed">
                        <figure>
                            <img src="assets/images/menu/banner-1.jpg" alt="Menu banner" width="221"
                                 height="330" />
                        </figure>
                        <div class="banner-content y-50">
                            <h4 class="banner-subtitle font-weight-bold text-primary ls-m">
                                Sale.
                            </h4>
                            <h3 class="banner-title font-weight-bold">
                                <span class="text-uppercase">Up to</span>70% Off
                            </h3>
                            <a href="demo23-shop.html" class="btn btn-link btn-underline">
                                shop
                                now<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Megamenu -->
                </div>
            </div>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Products">Products</a>
            <div class="megamenu">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4">
                        <h4 class="menu-title">Product Pages</h4>
                        <ul>
                            <li><a asp-action="SimpleProduct" asp-controller="Products">Simple Product</a></li>
                            <li><a asp-action="VariableProduct" asp-controller="Products">Variable Product</a></li>
                            <li><a asp-action="SaleProduct" asp-controller="Products">Sale Product</a></li>
                            <li><a asp-action="FeaturedAndOnSale" asp-controller="Products">Featured &amp; On Sale</a></li>

                            <li><a asp-action="WithLeftSidebar" asp-controller="Products">With Left Sidebar</a></li>
                            <li><a asp-action="WithRightSidebar" asp-controller="Products">With Right Sidebar</a></li>
                            <li>
                                <a asp-action="AddCartSticky" asp-controller="Products">
                                    Add Cart Sticky<span class="tip tip-hot">Hot</span>
                                </a>
                            </li>
                            <li><a asp-action="TabInside" asp-controller="Products">Tab Inside</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4">
                        <h4 class="menu-title">Product Layouts</h4>
                        <ul>
                            <li>
                                <a asp-action="GridImages" asp-controller="Products">
                                    Grid Images<span class="tip tip-new">New</span>
                                </a>
                            </li>
                            <li><a asp-action="Masonry" asp-controller="Products">Masonry</a></li>
                            <li><a asp-action="GalleryType" asp-controller="Products">Gallery Type</a></li>
                            <li><a asp-action="FullWidthLayout" asp-controller="Products">Full Width Layout</a></li>
                            <li><a asp-action="StickyInfo" asp-controller="Products">Sticky Info</a></li>
                            <li>
                                <a asp-action="LeftAndRightSticky" asp-controller="Products">Left &amp; Right Sticky</a>
                            </li>
                            <li><a asp-action="HorizontalThumb" asp-controller="Products">Horizontal Thumb</a></li>

                            <li><a asp-action="BuildYourOwn" asp-controller="Products">Build Your Own</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 menu-banner menu-banner2 banner banner-fixed">
                        <figure>
                            <img src="assets/images/menu/banner-2.jpg" alt="Menu banner" width="221"
                                 height="330" />
                        </figure>
                        <div class="banner-content x-50 text-center">
                            <h3 class="banner-title text-white text-uppercase">Sunglasses</h3>
                            <h4 class="banner-subtitle font-weight-bold text-white mb-0">
                                $23.00
                                -
                                $120.00
                            </h4>
                        </div>
                    </div>
                    <!-- End MegaMenu -->
                </div>
            </div>
        </li>
        <li>
            <a href="#">Pages</a>
            <ul>
                <li><a asp-action="AboutUs" asp-controller="Home">About</a></li>
                <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                <li><a asp-action="Profile" asp-controller="Account">My Account</a></li>
                <li><a asp-action="WishList" asp-controller="Account">Wishlist</a></li>
                <li><a asp-action="Faqs" asp-controller="Home">FAQs</a></li>
                <li><a asp-action="Error404" asp-controller="Home">Error 404</a></li>
                <li><a asp-action="ComingSoon" asp-controller="Home">Coming Soon</a></li>
            </ul>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Blog">Blog</a>
            <ul>
                <li><a asp-action="Classic" asp-controller="Blog">Classic</a></li>
                <li><a asp-action="Listing" asp-controller="Blog">Listing</a></li>
                <li>
                    <a href="#">Grid</a>
                    <ul>
                        <li><a asp-action="GridTwoColumns" asp-controller="Blog">Grid 2 columns</a></li>
                        <li><a asp-action="GridThreeColumns" asp-controller="Blog">Grid 3 columns</a></li>
                        <li><a asp-action="GridFourColumns" asp-controller="Blog">Grid 4 columns</a></li>
                        <li><a asp-action="GridSidebar" asp-controller="Blog">Grid sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Masonry</a>
                    <ul>
                        <li><a asp-action="MasonryTwoColumns" asp-controller="Blog">Masonry 2 columns</a></li>
                        <li><a asp-action="MasonryThreeColumns" asp-controller="Blog">Masonry 3 columns</a></li>
                        <li><a asp-action="MasonryFourColumns" asp-controller="Blog">Masonry 4 columns</a></li>
                        <li><a asp-action="MasonrySidebar" asp-controller="Blog">Masonry sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Mask</a>
                    <ul>
                        <li><a asp-action="BlogMaskGrid" asp-controller="Blog">Blog mask grid</a></li>
                        <li><a asp-action="BlogMaskMasonry" asp-controller="Blog">Blog mask masonry</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-action="SinglePost" asp-controller="Blog">Single Post</a>
                </li>
            </ul>
        </li>
        <li class="d-xl-show">
            <a href="#">Elements</a>
            <ul>
                <li><a asp-action="Products" asp-controller="Elements">Products</a></li>
                <li><a asp-action="Typography" asp-controller="Elements">Typography</a></li>
                <li><a asp-action="Titles" asp-controller="Elements">Titles</a></li>
                <li><a asp-action="ProductCategory" asp-controller="Elements">Product Category</a></li>
                <li><a asp-action="Buttons" asp-controller="Elements">Buttons</a></li>
                <li><a asp-action="Accordions" asp-controller="Elements">Accordions</a></li>
                <li><a asp-action="AlertAndNotification" asp-controller="Elements">Alert &amp; Notification</a></li>
                <li><a asp-action="Tabs" asp-controller="Elements">Tabs</a></li>
                <li><a asp-action="Testimonials" asp-controller="Elements">Testimonials</a></li>
                <li><a asp-action="BlogPosts" asp-controller="Elements">Blog Posts</a></li>
                <li><a asp-action="Instagrams" asp-controller="Elements">Instagrams</a></li>
                <li><a asp-action="CallToAction" asp-controller="Elements">Call to Action</a></li>
                <li><a asp-action="IconBoxes" asp-controller="Elements">Icon Boxes</a></li>
                <li><a asp-action="Icons" asp-controller="Elements">Icons</a></li>
            </ul>
        </li>
        <li>
            <a asp-action="AboutUs" asp-controller="Home">About Us</a>
        </li>
    </ul>
</nav>