@model IEnumerable<Faq>

@{
    ViewData["Title"] = "Faqs";
}

<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
            <li>FAQs</li>
        </ul>
    </div>
</nav>
<div class="page-header" style="background-image: url(assets/images/page-header/faq.jpg)">
    <h3 class="page-subtitle lh-1">Frequently</h3>
    <h1 class="page-title font-weight-bold text-capitalize lh-1">Asked Questions</h1>
</div>
<div class="page-content mb-10 pb-8">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-10">
                    <h2 class="pl-2 pr-2 ls-m text-center">Tez-tez soruşulan suallar.</h2>
                    <div class="accordion accordion-border accordion-boxed accordion-plus">
                        @foreach (Faq item in Model)
                        {
                            <div class="card faq-card">
                                <div class="card-header">
                                    <a class="acc-heading" style="cursor: pointer;display: flex;align-items: center;justify-content:space-between;">
                                        @item.Question <i class="bi bi-plus-lg"></i>
                                    </a>
                                </div>
                                <div class="faq-accordion-body" style="display: none;">
                                    <div class="card-body">
                                        <p>
                                            @item.Answer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $(function () {
            let accHeading = $('.acc-heading');

            $(accHeading).click(function () {
                $(this).closest('.faq-card').siblings().find('.faq-accordion-body').slideUp();
                $(this).closest('.faq-card').siblings().find('.acc-heading').find('i').removeClass('bi-dash-lg').addClass('bi-plus-lg');

                if ($(this).parent().next().css('display') == 'none') {
                    $(this).find('i').removeClass('bi-plus-lg').addClass('bi-dash-lg');
                    $(this).parent().next().slideDown();
                }
                else {
                    $(this).find('i').removeClass('bi-dash-lg').addClass('bi-plus-lg');
                    $(this).parent().next().slideUp();
                }
            });
        });
    </script>
}