@model Riode.Template.WebUI.Models.Entity.Category

@{
    ViewData["Title"] = "Details";
}

@section css{
    <style>
        .form-paragraph {
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
}

<input type="hidden" asp-for="Id" />
@if (Model.ParentId != null)
{
    <div class="form-group">
        <label asp-for="ParentId"></label>
        <p class="form-paragraph">@ViewBag.Parent</p>
    </div>
}
<div class="form-group">
    <label asp-for="Name"></label>
    <p class="form-paragraph">@Model.Name</p>
</div>
<div class="form-group">
    <label asp-for="Description"></label>
    <p class="form-paragraph">@Model.Description</p>
</div>
<div class="form-group">
    <label asp-for="CreatedDate"></label>
    <p class="form-paragraph">@Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
</div>
<a asp-action="Index" class="btn btn-danger">Geriyə</a>


