@model Riode.Template.WebUI.Models.Entity.Category

@{
    ViewData["Title"] = "Edit";
}

@section css{
    <link rel="stylesheet" href="libraries/select2/css/select2.min.css" />
    <link rel="stylesheet" href="libraries/select2/css/select2.override.css" />
}

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedDate" />
    <div class="form-group">
        <label asp-for="ParentId" class="control-label"></label>
        <select class="select2 form-control" asp-for="ParentId" asp-items="ViewBag.ParentId">
            <option value="" selected disabled>---Seçilməyib---</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="label-required"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <a asp-action="Index" class="btn btn-danger">Geriyə</a>
    <button class="btn btn-info" type="submit">Yenilə</button>
</form>

@section scripts{
    <script src="libraries/jquery-validate/jquery.validate.min.js"></script>
    <script src="libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="libraries/jquery-validate/jquery.validate.min.js"></script>
    <script src="libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="libraries/select2/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
}